on:
  workflow_call:
    inputs:
      nickname:
        type: string
        required: true
      channel:
        type: string
        required: true
    secrets:
      password:
        required: true


jobs:
  send:
    runs-on: ubuntu-latest
    concurrency:
      group: irc-${{ github.ref }}
      cancel-in-progress: false

    steps:
      - name: Send message (attempt 1)
        id: irc1
        if: github.event_name == 'push'
        continue-on-error: true
        uses: Gottox/irc-message-action@v2
        with:
          channel: ${{ inputs.channel }}
          nickname: ${{ inputs.nickname }}
          sasl_password: ${{ secrets.password }}
          message: |-
            ${{ github.actor }} pushed ${{ github.event.repository.name }}:${{ github.ref_name || github.event.ref }} -- ${{ github.event.compare }}
            ${{ join(github.event.commits.*.message, '
            ') }}

      - name: Wait before retry 2
        if: github.event_name == 'push' && steps.irc1.outcome =='failure'
        run: sleep 20

      - name: Send message (attempt 2)
        id: irc2
        if: github.event_name == 'push' && steps.irc1.outcome == 'failure'
        continue-on-error: true
        uses: Gottox/irc-message-action@v2
        with:
          channel: ${{ inputs.channel }}
          nickname: ${{ inputs.nickname }}
          sasl_password: ${{ secrets.password }}
          message: |-
            ${{ github.actor }} pushed ${{ github.event.repository.name }}:${{ github.ref_name || github.event.ref }} -- ${{ github.event.compare }}
            ${{ join(github.event.commits.*.message, '
            ') }}

      - name: Wait before retry 3
        if: github.event_name == 'push' && steps.irc2.outcome == 'failure'
        run: sleep 60

      - name: Send message (attempt 3)
        id: irc3
        if: github.event_name == 'push' && steps.irc2.outcome == 'failure'
        continue-on-error: false
        uses: Gottox/irc-message-action@v2
        with:
          channel: ${{ inputs.channel }}
          nickname: ${{ inputs.nickname }}
          sasl_password: ${{ secrets.password }}
          message: |-
            ${{ github.actor }} pushed ${{ github.event.repository.name }}:${{ github.ref_name || github.event.ref }} -- ${{ github.event.compare }}
            ${{ join(github.event.commits.*.message, '
            ') }}

      - name: Fail if all attempts failed
        if: github.event_name == 'push' && steps.irc3.outcome == 'failure'
        run: exit 1

